.container {
  position: relative;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
}

/* Darkened background layer */
.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url('./images/bg5.jpeg') no-repeat ;
  background-size: cover;
  filter: brightness(0.6); /* darken image only */
  z-index: -1;
}
